.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

body, html {
  height: 100%;
}

button {
  cursor: pointer;
}

.col-xl-4, .col-xl-6 {
  padding-top: 20px;
}

.row, .form-inline {
  justify-content: center;
}

[class^="title"] {
  font-weight: bold;
}
